<h1>Business Upgrade</h1>
<p>This is a notification about an Business Upgrade requested.</p>
<br />
<p>Thank you for requesting, we will be contacting you soon!</p>
<hr size='1'>
<p>User: <%= @user['user_email'] %></p>
<p>Name: <%= @user['user_name'] %></p>
<p>Position: <%= @user['user_position'] %></p>
<p>Phone operator: <%= @user['user_phone_company'] %></p>
<p>Phone number: <%= @user['user_phone'] %></p>

<br />

