<%= div_for comment do %>

		<ul class='comment round <%= cycle('color-even','color-odd') %>'>
			<li><cite><strong><%= author_for(comment.title)%></strong> disse <span class='when'>há <%= time_ago_in_words comment.created_at %></span></cite>
			<% if can? :destroy, Comment %>
				<%= link_to image_tag('delete.png') + 'Remover comentário', company_comment_path(comment.commentable_id,comment), :confirm => "Are you sure?" , :method => :delete, :remote => true, :class => 'button' %>
			<% end %>
			</li>		
			<li class='comment'>
				<%= comment.comment%>
				<% unless comment.approved %>
					<br /><span class='waiting_approval'><%= image_tag('icon-alert.png') %> comentário aguardando moderação</span>
				<% end %>				
			</li>			
		</ul>

<% end %>

