<%= div_for comment do %>

		<ul class='comment round <%= cycle('color-even','color-odd') %>'>
			<li><%= author_for(comment.title)%>
			<% if can? :destroy, Comment %>
				<%= link_to image_tag('delete.png') + 'Remover comentário', company_comment_path(comment.commentable_id,comment), :confirm => "Are you sure?" , :method => :delete, :remote => true, :class => 'button' %>
			<% end %>
			</li>		
			<li class='comment'>
				<%= comment.comment%>
				<% unless comment.approved %>
					<br /><span class='waiting_approval'><%= image_tag('icon-alert.png') %> comentário aguardando moderação</span>
				<% end %>				
			</li>
			<li>- <%= comment.created_at.strftime('%d/%m/%Y') %></li>
		</ul>

<% end %>

