<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>

  <div class="two_column">

    <div class="left-column">
        <div class="field">
            <%= f.label :content %><br />
            <%= f.text_area :content , :cols => 80, :rows => 20 %>
        </div>
        <div class="actions">
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.submit %>
        </div>
    </div>

    <div class="right-column">
      <div class="field">
          <%= f.label :company_name %><br />
          <%= f.text_field :company_name %>
      </div>
      <div class="field">
          <%= f.label :company_website %><br />
          <%= f.text_field :company_website %>
      </div>
      <div class="field">
          <%= f.label :how_to_apply %><br />
          <%= f.text_area :how_to_apply, :cols => 40, :rows => 10 %>
      </div>
    </div>

  </div>
  <div class="clear"></div>
<% end %>
