<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location, "Localidade" %> (ex: Kanagawa-ken, Yokohama-shi)<br />
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :title, "Título" %> (máx: 50 caracteres)<br />
    <%= f.text_field :title , { :size => 40, :maxlength => 50 } %>
  </div>

  <div class="two_column">

    <div class="left-column">
        <div class="field">
            <%= f.label :content, "Descrição" %><br />
            <%= f.text_area :content , :cols => 80, :rows => 20 %>
        </div>
        <div class="actions">
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.submit %>
        </div>
    </div>

    <div class="right-column">
      <div class="field">
          <%= f.label :company_name, "Empresa" %><br />
          <%= f.text_field :company_name %>
      </div>
      <div class="field">
          <%= f.label :company_website, "Website" %><br />(ex: http://www.empresa.com)<br />
          <%= f.text_field :company_website %>
      </div>
      <div class="field">
          <%= f.label :how_to_apply, "Como entrar em contato:" %><br />
          <%= f.text_area :how_to_apply, :cols => 35, :rows => 10 %>
      </div>
    </div>

  </div>
  <div class="clear"></div>
<% end %>
