<hr size="1">
<%= simple_form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :location, :label => "Localidade", :input_html => { :size => 30 } , :hint => "ex: Kanagawa-ken, Yokohama-shi" %>
    <%= f.input :title , :label => "Título", :input_html => { :size => 39, :maxlength => 50 } %>
  </div>

  <div class="two_column">

    <div class="right-column">
      <div class="field">
          <%= f.input :company_name, :label => "Empresa", :input_html => { :size => 21 }  %>
          <%= f.input :company_website, :label => "Website", :input_html => { :size => 21 }  %>
          <%= f.input :how_to_apply, :label => "Como entrar em contato", :as => 'text', :input_html => { :cols => 23, :rows => 10 } , :hint => "Informe telefones para contato." %>
      </div>
    </div>

    <div class="left-column">
        <div class="field">
            <%= f.input :content , :label => "Descrição" , :as => 'text', :input_html => { :cols => 50, :rows => 20 }, :hint => "Forneça o maior número possível de informações referentes ao anúncio." %>
        </div>
        <div class="actions">
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.submit "Enviar", :class => 'button' %>
        </div>
    </div>


  </div>
  <div class="clear"></div>
<% end %>
