<% @jobs.each do |job| %>
<table class="post">
    <tr>
      <td>
        <div class="title"><%= link_to job.title, job %></div>
        <div class="company_name"><%= job.company_name %></div>
      </td>
      <td class="location_date">
        <div class="location"><%= job.location %></div>
        <div class="date"><%= time_ago_in_words t(job.created_at) %></div>
      </td>
    </tr>
</table>
<% end %>

<%= will_paginate @jobs, :prev_label => "← Anterior", :next_label => "Próximo →" %>
