
<div class="show_jobs_location_and_title">


			<% if params[:preview_button]%>
			<h1 class='preview'>Pré-visualização:</h1>
			<% end %>

	<header>
			
  		<div class="location"><%= @job.location %></div>
	  	<div class="title round-top"><%= @job.title %></div>
	  	
	  	<script type="text/javascript"><!--
      google_ad_client = "ca-pub-8162200517166382";
      /* 728x15_4 jobs internal pages, title below */
      google_ad_slot = "2536352532";
      google_ad_width = 728;
      google_ad_height = 15;
      //-->
      </script>
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>

  </header>




</div>

<hr>

<div class='clear'></div>




<div id='show_job'>
  <div class='left-column'>  
      <%= content_tag(:div, simple_format(auto_link(@job.content)), :class => 'show_jobs_job_content' ) %>
      
      <% if @job.published? %>
        
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/all.js#appId=146967732064296&xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        

      <h6>Compartilhe esta vaga com seus amigos e familiares:</h6>
      <div class="fb-like" data-href="http://www.shigotodoko.com<%= url_for(@job) %>" data-send="false" data-layout="button_count" data-width="105" data-show-faces="true"></div>
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="shigotodoko" data-url="http://www.shigotodoko.com<%= url_for(@job) %>" data-lang="en">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      <div class="g-plusone" data-size="medium" count="true" callback="fire_multitrack" href="http://www.shigotodoko.com<%= url_for(@job) %>"></div>
      
      <% end %>
      

  </div>

  <aside class='right-column company_info'>
    
    <% if @job.company_website? %>
    
      <div class='company_name_and_website round'>
        <p class='company_name'><%= @job.company_name %></p>
        <p class='company_website'><%= link_to @job.company_website, @job.company_website, :target => 'blank' unless @job.company_website.nil? %></p>
      </div>

      <div class='how_to_apply round'>
        <p class='title'>Como se candidatar</p>
        <p class='body'><%= simple_format auto_link(@job.how_to_apply) %></p>
      </div>
    
    <% else %>
    
      <div class='how_to_apply round'>
        <h1><%= @job.company_name %></h1>
        <p class='title'>Como se candidatar</p>
        <p class='body'><%= simple_format auto_link(@job.how_to_apply) %></p>
      </div>
    
    <% end %>

      <div class="show_jobs_side_ad round">
      
      <script type="text/javascript"><!--
      google_ad_client = "ca-pub-8162200517166382";
      /* Jobs sidebar, 336x280 internal pages */
      google_ad_slot = "1295415093";
      google_ad_width = 336;
      google_ad_height = 280;
      //-->
      </script>
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
  </aside>
	<div class="clear"></div>
	
</div>


