<h3>Exibindo <%= pluralize(@jobs.count, 'anúncio') %></h3>

<div id="main_jobs">

    <div class="positions">
    <% @jobs.each do |job| %>
    <table class="post">
    <tr>
      <td>
        <div class="title"><%= link_to job.title, job %></div>
        <div class="company_name"><%= job.company_name %></div>
      </td>
      <td class="location_date">
        <div class="location"><%= job.location %></div>
        <div class="date"><%= time_ago_in_words t(job.created_at) %></div>
      </td>
    </tr>
    </table>
    <% end %>
    </div>


    <div id="jobs_sidebar">
        <div>
            <div id="ad_sample" style="padding-top: 100px; width: 300px; height: 150px;">
              <h1>Sample Ad (300x250)</h1>
            </div>
        </div>
    </div>

</div>

<div class="clear"></div>

<br />
<% if can? :new, Job %>
<p><%= link_to 'Criar novo anúncio', new_job_path, :class => 'button' %></p>
<% end %>

<hr size="1"/>
<% if current_user && current_user.announcer? %>
    <p>* <%= t(:you_have) + " " + pluralize(@pending.count, t(:announcer)) %> aguardando revisão.</p>
<% end %>
