<% title "Empregos no Japão" %>
<% description "Anúncios de empregos no Japão para latino-americanos residentes no país ou não residentes que possuem interesse em trabalhar no Japão. "%>
<% keywords "empregos no japao, empregos no japao #{Time.now.strftime('%Y')}, anuncios no japao, empregos"%>

<h3>Exibindo página <%= @jobs.current_page %> de <%= @jobs.total_pages %> para <%= @jobs.total_entries %> resultados.</h3>  
<hr size="1">


<div id="main_jobs">

    <div class="positions">
      <%= render 'positions_table' , :collection => @jobs %>
    </div>


    <div id="jobs_sidebar">
        <div>
            <div id="ad_sample" style="width: 300px; height: 250px;">
              <script type="text/javascript"><!--
							google_ad_client = "ca-pub-8162200517166382";
							/* abaixo do show empresas */
							google_ad_slot = "8852387233";
							google_ad_width = 300;
							google_ad_height = 250;
							//-->
							</script>
							<script type="text/javascript"
							src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
							</script>
            </div>
        </div>
        <br />
        <div id="facebook">
          <script src="http://connect.facebook.net/pt_BR/all.js#xfbml=1"></script><fb:like-box href="http://www.facebook.com/shigotodoko" width="300" height="285" show_faces="true" stream="false" header="true" connections="10"></fb:like-box>
        </div>
    </div>

</div>

<div class="clear"></div>

<br />

<hr size="1"/>
<% if current_user && current_user.announcer? %>
  <% if @pending.blank? %>
    <p class="small">Nenhum anúncio em revisão.</p>
  <% else %>
    <p class="small">* <%= link_to t(:you_have) + " " + pluralize(@pending.count, t(:announcer)) , jobs_revision_path %> aguardando revisão antes de ser publicado.</p>
  <% end %>
<% end %>
