<% title "Empregos no Japão" %>
<% description "Anúncios de empregos no Japão para latino-americanos residentes no país ou não residentes que possuem interesse em trabalhar no Japão. "%>
<% keywords "empregos no japao, trabalho no japão, enpregos, emprego no japão, emprego japão, japão empregos, empregos no japão, japão trabalho, trabalho no japão, empregos no jp, trabalhar japão, trabalhar no japão, classificados no japão, serviço no japão, vagas no japão, serviços no japão, trabalho no japão para brasileiros, trabalhe no japão, empregos no japão #{Time.now.strftime('%Y')}, anuncios no japao, empregos"%>

<div id="main_jobs">
    <div class="positions">
    
    
      <%= render 'specials_jobs', :collection => @specials %>
      
      <br />
      
      <table id="jobs" name="top">
      <% @count = 0 %>
      <%= render @jobs, :locals => { :count => @count } %>
      </table>  
      
      <p><a href="#top">&uarr; ir para o início</a></p>
      
            
    </div>

    <div id="jobs_sidebar">
    
    <p class='twitter-follow-button'>
    <a href="https://twitter.com/shigotodoko" class="twitter-follow-button" data-show-count="true" data-lang="pt" data-size="small">Siga @shigotodoko</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </p>

    
    <div class='blog_recent_posts_for_jobs_page'>
  	 <h1>Posts aleatórios</h1>
	   <ul>
  	 <% @feeds.first(5).each do |post| %>
  	   <li><%= link_to truncate(post.title, :length => 30), post.url %></li>
  	   <li><%= truncate(post.summary, :length => 75) %> (<%= post.published.strftime('%d/%m/%Y') %>)</li>
  	 <% end %>
     </ul>
  	 <p class='center'><%= link_to 'Visite nosso Blog', 'http://blog.shigotodoko.com', :target => '_blank', :class => 'button' %></p>
    </div>
    
    
      <!-- Adsense -->
      <div class="center">
        <script type="text/javascript"><!--
        google_ad_client = "ca-pub-8162200517166382";
        /* abaixo do show empresas */
        google_ad_slot = "8852387233";
        google_ad_width = 300;
        google_ad_height = 250;
        //-->
        </script>
        <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>            
      </div>
      <!-- Adsense -->
      
      <hr>

      <br />
      
      <div>
      	<div id='post_a_new_job_button'>
      		<% new_job_link_campaign = current_user ? new_job_path : how_to_start_ad_path %>
      		<p><%= link_to 'Criar anúncio de emprego (Grátis) »', new_job_link_campaign, :class => 'round5', :id => 'link' %></p>
      		<p id='free_campaign'>Grátis por 30 dias! (tempo limitado)</p>
      	</div>
      </div>

        <div id="facebook">
          <script src="http://connect.facebook.net/pt_BR/all.js#xfbml=1"></script><fb:like-box href="http://www.facebook.com/shigotodoko" width="300" height="360" show_faces="true" stream="false" header="true" connections="10"></fb:like-box>
        </div>


  	    <div class="jobs_feeds">
  	    	<h1>Atom Feeds</h1>
  	    	<p>Inscreva-se na lista para receber nossos<br /> anúncios por email gratuitamente.</p>
  	      <div class='form center'>
            <form action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=Shigotodoko', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
              <input type="text" name="email" value="Subscreve por email..." onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" />
              <input type="hidden" value="Shigotodoko" name="uri"/>
              <input type="hidden" name="loc" value="pt_BR"/>
              <input type="submit" value="Assinar" class='button'>
            </form>
  	      </div>
  	      <% if current_user && current_user.admin? %>
  	      <hr>
  	      <p class='center'><a href="http://feeds.feedburner.com/Shigotodoko"><img src="http://feeds.feedburner.com/~fc/Shigotodoko?bg=EDF4F5&amp;fg=000000&amp;anim=1" height="26" width="88" style="border:0" alt="" /></a><small> pessoas já assinaram.</small></p>
  	      <% end %>
  	  	</div>
  	  	
  	  	<br />
  	  	
  	  	<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
        new TWTR.Widget({
          version: 2,
          type: 'profile',
          rpp: 10,
          interval: 30000,
          width: 300,
          height: 350,
          theme: {
            shell: {
              background: '#336699',
              color: '#fafaf7'
            },
            tweets: {
              background: '#ffffff',
              color: '#050505',
              links: '#336699'
            }
          },
          features: {
            scrollbar: true,
            loop: true,
            live: true,
            behavior: 'default'
          }
        }).render().setUser('shigotodoko').start();
        </script>
        
        <br />
        
        <div>
        <script type="text/javascript"><!--
        google_ad_client = "ca-pub-8162200517166382";
        /* jobs, main, sidebar, 160x600 wideskyscrapper */
        google_ad_slot = "3377828892";
        google_ad_width = 120;
        google_ad_height = 600;
        //-->
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
        </div>
  	  	
</div>

<div class="clear"></div>

<br />

<% if current_user && current_user.announcer? %>
  <hr size="1"/>
  <% if @pending.blank? %>
    <p class="small">Nenhum anúncio em revisão.</p>
  <% else %>
    <p class="small">* <%= link_to t(:you_have) + " " + pluralize(@pending.count, t(:announcer)) , jobs_revision_path %> aguardando revisão antes de ser publicado.</p>
  <% end %>
<% end %>
