<h1><%= page_entries_info @jobs, :entry_name => '' %></h3>
<hr size="1">


<div id="main_jobs">
<% if can? :new, Job %>
<p><%= link_to 'Criar novo anúncio', new_job_path, :class => 'button' %></p>
<hr size="1">
<% end %>

    <div class="positions">
      <%= render 'positions_table' , :collection => @jobs %>
      <% @dekablog_jobs.each do |job| %>
      <table class="post">
      <tr>
        <td>
          <div class="title"><%= link_to job.title[0..50], :controller => 'pages', :action => 'dekapower', :id => job  %></div>
          <div class="company_name">Parceiro: Dekablog</div>
      </td>
      <td class="location_date">
        <div class="date"><%= time_ago_in_words t(job.published) %></div>
      </td>
    </tr>
    </table>
    <% end %>
    </div>


    <div id="jobs_sidebar">
        <div>
            <div id="ad_sample" style="padding-top: 100px; width: 300px; height: 150px;">
              <h1>Sample Ad (300x250)</h1>
            </div>
        </div>
    </div>

</div>

<div class="clear"></div>

<br />

<hr size="1"/>
<% if current_user && current_user.announcer? %>
  <% if @pending.blank? %>
    <p class="small">Nenhum anúncio em revisão.</p>
  <% else %>
    <p class="small">* <%= link_to t(:you_have) + " " + pluralize(@pending.count, t(:announcer)) , jobs_revision_path %> aguardando revisão antes de ser publicado.</p>
  <% end %>
<% end %>
