<h3>Exibindo página <%= @jobs.current_page %> de <%= @jobs.total_pages %> para <%= @jobs.total_entries %> resultados.</h3>  
<hr size="1">


<div id="main_jobs">

    <div class="positions">
      <%= render 'positions_table' , :collection => @jobs %>
    </div>


    <div id="jobs_sidebar">
        <div>
            <div id="ad_sample" style="padding-top: 100px; width: 300px; height: 150px;">
              <h1>Sample Ad (300x250)</h1>
            </div>
        </div>
        <br />
        <div id="facebook">
          <script src="http://connect.facebook.net/pt_BR/all.js#xfbml=1"></script><fb:like-box href="http://www.facebook.com/pages/ShigotoDOKO/180568255306449" width="300" height="285" show_faces="true" stream="false" header="true" connections="10"></fb:like-box>
        </div>
    </div>

</div>

<div class="clear"></div>

<br />

<hr size="1"/>
<% if current_user && current_user.announcer? %>
  <% if @pending.blank? %>
    <p class="small">Nenhum anúncio em revisão.</p>
  <% else %>
    <p class="small">* <%= link_to t(:you_have) + " " + pluralize(@pending.count, t(:announcer)) , jobs_revision_path %> aguardando revisão antes de ser publicado.</p>
  <% end %>
<% end %>
