<h1>Exibindo <%= pluralize(@jobs.count, 'anúncio') %></h1>

<table>

<% @jobs.each do |job| %>
  <tr>
    <td colspan="2">
      <% if can? :update, job %>
        <%= link_to 'Editar', edit_job_path(job) %>
      | <% end %>
      <% if can? :destroy, job %>
        <%= link_to 'Excluir', job, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><%= link_to job.title, job %></td>
    <td><%= job.location %></td>
  </tr>
  <tr>
    <td>Empresa contratante</td>
    <td><%= job.created_at %></td>
  </tr>
<% end %>
</table>

<br />
<% if can? :new, @job %>
<%= link_to 'Criar novo anúncio', new_job_path %>
<% end %>
