<h1>Jobs in revision (<%= @pending.count %>)</h1>
<hr size="1">

<div id="main_jobs">

    <table class="positions">
      <% if @pending.blank? %>
          <tr><td>Congratulations! You've no posts to approve for now!</td></tr>
          <% end %>
    <% @pending.each do |job| %>
    <tr>
        <td>
            <div class="post">
                <ul class="title_and_company">
                    <li class="title"><%= link_to job.title, job %></li>
                    <li><%= 'empresa contratante' %></li>
                </ul>
                <ul class="location_and_created_date">
                    <li><%= job.location %></li>
                    <li class="created_date"><%= time_ago_in_words t(job.created_at) %></li>
                </ul>
            </div>
        <hr size="1">
        </td>
    </tr>
    <% end %>
    </table>



</div>

<div class="clear"></div>