<%= title @job.title %>
<%= description strip_tags(@job.content) %>
<%= keywords @job.title + ' empregos no japao, trabalho no japão, enpregos, emprego no japão, emprego japão, japão empregos, empregos no japão, japão trabalho, trabalho no japão, empregos no jp, trabalhar japão, trabalhar no japão, classificados no japão, serviço no japão, vagas no japão, serviços no japão, trabalho no japão para brasileiros, trabalhe no japão, empregos no japão' %>

<%= render 'header_admin_panel', :collection => @job %>

<%= render 'show_and_preview', :collection => @job %>

<p>
  <%= link_to '← Voltar para empregos', jobs_path %>
<% if can? :update, Job  %>
ou <%= link_to 'Editar anúncio', edit_job_path(@job), :class => 'button' %>
<% end %>
<% if can? :destroy, Job %>
  <%= link_to 'Excluir', @job, :confirm => 'Are you sure?', :method => :delete, :class => 'button' %> 
<% end %>
</p>