<% if current_user && current_user.admin? %>
<div id="admin_header_panel" class="round">
  <div style="float: left; font-size: small">
    <p>
      Owner: <%= @job.user.email %><br />
      Criado há <%= time_ago_in_words( @job.created_at ) %><br />
      Atualizado há <%= time_ago_in_words( @job.updated_at ) %><br />
      Visitas: <%= @job.visits %>
    </p>
  </div>
  <div style="float: right">
    <%= render 'lock_links' %>
    <%= render 'publish_links' %>
  </div>
</div>
<div class="clear"></div>
<hr size="1">
<% end %>

<div class="show_jobs_location_and_title">
  <p class="location"><%= @job.location %></p>
  <p class="title"><%= @job.title %></p>

  <div class="social_network">
    <div class='facebook left-column'>
      <p><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="shigotodoko" data-related="klebershimabuku">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      <fb:like show_faces="true" width="450" action="recommend" font="arial"></fb:like><script src="http://connect.facebook.net/pt_BR/all.js#xfbml=1"></script></p>
    </div>
  </div>

</div>

<div id='show_job'>
  <div class='left-column' style='width: 60%;'>
      <%= content_tag(:div, my_simple_format(@job.content), :class => 'show_jobs_job_content' ) %>
  </div>

  <aside class='right-column company_info'>
    <div class='company_name_and_website round'>
      <p class='company_name'><%= @job.company_name %></p>
      <p class='company_website'><%= link_to @job.company_website, @job.company_website, :target => 'blank' unless @job.company_website.nil? %></p>
    </div>
    <div class='how_to_apply round'>
      <p class='title'>Como se candidatar</p>
      <p class='body'><%= simple_format @job.how_to_apply %></p>
    </div>

  </aside>
</div>




<div class="clear"></div>



<p>
  <%= link_to '← Voltar para empregos', jobs_path %>
<% if can? :update, @job  %>
ou <%= link_to 'Editar', edit_job_path(@job), :class => 'button' %>
<% end %>
<% if can? :destroy, @job %>
  <%= link_to 'Excluir', @job, :confirm => 'Are you sure?', :method => :delete, :class => 'button' %> 
<% end %>
</p>