<% if can? :publish, Job %>
    <% if @job.available? %>
        <div style="float: right; font-weight: bold; color: green;">It's published already, but you still can <%= link_to 'put them off for a while..', unpublish_job_path(@job) , :class => 'btn red'%></div>
    <% else %>
        <div style="float: right; font-weight: bold;"><%= link_to 'Publish and make it available now!', publish_job_path(@job) , :class => 'btn green'%></div>
     <% end %>
     <div class="clear"></div>
<% end %>

<div class="show_jobs_location_and_title">
  <p class="location"><%= @job.location %></p>
  <p class="title"><%= @job.title %></p>
</div>

<div class="two-columns">

  <div class="left-column" style="width: 70%; margin-top: -50px;">
    <p class="show_jobs_job_content">
      <%= simple_format(@job.content) %>
    </p>       
  </div>
  <div class="company_info">
    <div class="company_name_and_website round">
      <p class="company_name"><%= @job.company_name unless @job.company_name.nil? %></p>
      <p class="company_website"><%= link_to @job.company_website, @job.company_website, :target => '_blank' unless @job.company_website.nil? %></p>
    </div>
    <div class="how_to_apply round">
        <p class="title">Como se candidatar:</p>
        <p class="body"><%= my_simple_format(@job.how_to_apply) unless @job.how_to_apply.nil? %></p>
    </div>
  </div>

</div>

<div class="clear"></div>

<p>
  <%= link_to 'Voltar', jobs_path %>
<% if can? :update, @job %>
ou <%= link_to 'Editar', edit_job_path(@job), :class => 'button' %>
<% end %>
<% if can? :destroy, @job %>
  <%= link_to 'Excluir', @job, :confirm => 'Are you sure?', :method => :delete, :class => 'button' %> 
<% end %>
</p>

<p>
    <div id="banner_footer"><%= image_tag('ads/banner468x60.jpg') %></div>
</p>
