<% if can? :update, Job %>
    <% if @job.available? %>
        <div style="float: right; font-weight: bold; color: green;">It's published already, but you still can <%= link_to 'put them off for a while..', unpublish_job_path(@job) , :class => 'btn red'%></div>
    <% else %>
        <div style="float: right; font-weight: bold;"><%= link_to 'Publish and make it available now!', publish_job_path(@job) , :class => 'btn green'%></div>
     <% end %>
<% end %>

<p>
  <%= @job.location %>
</p>
<h1><%= @job.title %></h1>
<hr size="1">

<p>
  <%= simple_format(@job.content) %>

  <div id="markdown_formatted"></div>
</p>

<p>
  <%= link_to 'Voltar', jobs_path %>
<% if can? :update, @job %>
ou <%= link_to 'Editar', edit_job_path(@job), :class => 'button' %>
<% end %>
<% if can? :destroy, @job %>
  <%= link_to 'Excluir', @job, :confirm => 'Are you sure?', :method => :delete, :class => 'button' %> 
<% end %>
</p>

<p>
    <div id="banner_footer"><%= image_tag('ads/banner468x60.jpg') %></div>
</p>
