<h1>Listing Users</h1>

<div class='center'><p><%= paginate @users, :outer_window => 10 %></p></div>
<table>

  <tr>
    <td></td>
    <td>#</td>
    <td>email</td>
    <td>level</td>
    <td>created date</td>
    <td>action</td>
  </tr>

  <% @users.each do |user| %>

  <tr>
    <td style="background-color: #fff"><%= announcer(user) %></td>
    <td><%= user.id %></td>
    <td><%= link_to user.email, user_path(user) %></td>
    <td><%= kind_of_user(user) %></td>
    <td><%= user.created_at %></td>
    <td><%= verify_and_display_correct_changes_on_link(user) %></td>
  </tr>

  <% end %>


</table>

<div class='clear'><%= paginate @users, :outer_window => 10 %></div>
