<%= simple_form_for(@agency) do |f| %>
  <%= f.error_notification %>


  <table class="inputs">
  	<tr>
  		<td><%= f.label :province_id, "Província"%><%= f.collection_select :province_id, @provinces, :id, :name, :selected => session[:province_id] %></td>
  		
  	</tr>
  	<tr>
  		<td colspan="2"><%= f.input :city, :label => "Cidade"%></td>
  	</tr>
    <tr>
    	<td colspan="2"><%= f.input :content, :label => "Conteúdo", :as => 'text', :input_html => { :size => '60x5'} %></td>
    </tr>
    <tr>
    	<td colspan="2"><%= f.input :reception, :label => "Atendimento (horario)", :as => 'text', :input_html => {:size => '60x3'} %></td>
    </tr>
    <tr><td colspan="2"><%= f.input :languages, :label => "Idiomas" %></td></tr>    
    <tr><td colspan="2"><%= f.input :address, :as => 'text', :input_html => { :size => '60x4'}, :label => "Endereço" %></td></tr>
    <tr><td colspan="2"><%= f.input :phone, :label => "Telefone" %></td></tr>
  </table>
  

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
