<% title "Sobre" %>
<% description "Conheça um pouco mais da história do ShigotoDOKO "%>

<h1>Sobre</h1>
<p><strong>ShigotoDOKO</strong> nome que buscamos ir de encontro com a "procura por trabalho". São duas palavras rapidamente aprendidas pelos dekasseguis.</p>
<p>Iniciou-se um trabalho de desenvolvimento nos meados de 2008, pouco antes do auge da crise econômica mundial desencadeada neste mesmo ano.</p>
<p>O <strong>objetivo</strong> deste projeto sempre foi desde o início tornar fácil a maneira de procurar por um trabalho no Japão. Apresentamos de maneira organizada
	 <%= link_to 'diversas oportunidades de trabalho', jobs_path %> dentre uma enorme variedade de áreas.</p>
<p>Para as <strong>empresas</strong> mais comumente conhecidas e chamadas por <i><%= link_to 'empreiteiras', companies_path %></i> damos a oportunidade de estar apresentando aos nossos visitantes
	e usuários, suas melhores e <%= link_to 'mais recentes ofertas de empregos', jobs_path %> no Japão.</p>
<p>Aos nossos <strong>usuários</strong> (visitantes que se <%= link_to 'cadastraram no site', new_user_registration_path %>) criamos a possibilidade de deixar registrado em nossa
	memória, um <strong>Currículum</strong>* que estará facilmente acessível pelas diversas empresas que buscam contratar para preencher determinadas posições.</p>
<p>Realizamos <strong>parcerias</strong> específicas com sites pré-selecionados visando aumentar a visibilidade das informações aqui disponibizadas ao passo que as mesmas apresentem condições
	 de melhorar a experiência de nossos usuários e visitantes.</p>
<p>Temos neste momento parcerias realizadas com o <%= link_to 'Lingua Japonesa', 'http://www.linguajaponesa.com.br/', :target => '_blank' %> - site especializado em explorar o idioma japonês de forma simples e divertida.
	<%= link_to 'Dicionário de Japonês', 'http://www.dicionariodejapones.com', :target => '_blank' %> cujo objetivo é abranger o maior número de palavras japonesas e explicar suas nuances.
	E nossa mais recente parceria com o <%= link_to 'Batata.jp', 'http://batata.jp', :target => '_blank' %> - serviço inovador que promete sacudir o comércio eletrônico no Japão, comparando preços de 
	diversas lojas, dos mais variados ramos e trazendo sempre os menores preços à toda comunidade.</p>
<p>Todo este trabalho exige muita dedicação e despende muito de nosso tempo, porém, o fazemos com carinho, boa vontade e <strong>não cobramos absolutamente nada</strong> por isso.</p>
<p>Talvez agora você esteja se perguntando - O que ganhamos então? - Ganhamos a <strong>satisfação</strong> de poder ajudar pessoas e empresas a se encontrarem e assim termos uma pequena
	mas importante partipação na economia do Japão.</p>
<p>Aproveitamos para deixar registrado aqui, algumas datas que consideramos importantes.</p>

<table style="width: 50%;">
<tr>
  <td>29 de Setembro de 2008</td>
  <td>Lançamento oficial do ShigotoDOKO.</td>
</tr>
<tr>
  <td>06 de Fevereiro de 2009</td>
  <td>Primeira grande atualização</td>
</tr>
<tr>
  <td>19 de Março de 2011</td>
  <td>Segunda grande atualização</td>
</tr>
</table>

<hr />
<h4>Quem está por trás do ShigotoDOKO?</h4>
<p><strong><%= link_to "Kleber Shimabuku", 'mailto: klebershimabuku@shigotodoko.com' %></strong> (28), brasileiro, formado em Técnico de Informática em São Vicente - SP (Brazil), apaixonado pela arte de programar e residente no Japão pela segunda vez há quase 4 anos.</p>
<p>Gostaria de se juntar à mim e ajudar neste projeto grandioso? <%= link_to 'Entre em contato', contact_path %> e veremos o que pode ser feito.</p>
<br /><br />
<p>
  Powered by:<br />
  <%= link_to image_tag('rails.png') , 'http://rubyonrails.org', :target => '_blank'%>
</p>
<p>
  Ruby & Ruby Logo: © 2006, Yukihiro Matsumoto<br />
  "Rails", "Ruby on Rails", e o Rails logo são marcas registradas de David Heinemeier Hansson. 
</p>
