<h1>Bem vindo ao ShigotoDOKO!</h1>
<h3>O maior e mais popular site de empregos feito para a comunidade latino-americana.</h3>
<hr size="1" />
<h4>Veja algumas empresas que jรก anunciaram conosco:</h4>
<%= image_tag('announcers/kline-total-outsourcing.jpg') %>
<%= image_tag('announcers/suri-emu.jpg') %>
<%= image_tag('announcers/bell-teck-55x60.jpg') %>
<%= image_tag('announcers/cookerylogo-200x22.jpg') %>
<%= image_tag('announcers/kk-taiyo-corp.jpg') %>


