<div class="welcome_message">
    <h1><%= t(:welcome_message_1)%></h1>
    <h3><%= t(:welcome_message_2)%></h3>
    <div class="triangle-l"></div>
    <div class="triangle-r"></div>
</div>

<div id='dashboard-presents'>

	<div class='left-column' style='width:52%;'>
		<h1>Gerenciar nunca foi tão fácil!</h1>
		<h4>Com o novo Dashboard você poderá criar rapidamente novas campanhas e gerenciá-las a partir de um único local.</h4>
		<p class='center'><%= link_to 'Comece agora!' , new_user_registration_path, :class => 'btn darkblue'%></p>
	</div>
	<div class='right-column'>
		<p><%= image_tag('new_dashboard.png')%></p>
	</div>
	<div class='clear'></div>

</div>



<div>

    <div id="business_done">
      
    </div>



    <div id="partners">
        <h1>Parceiro:</h1>
        <ul>
          <li><%= link_to image_tag('logo-batatajp.gif'), 'http://batata.jp' , :target => '_blank' %></li>
        </ul>
    </div>



</div>
