<% title "Como Anunciar no ShigotoDoko" %>

<div id='dashboard-presents'>
	<h1>Gerenciar nunca foi tão fácil..</h1>
	<div class='center'>
		<h3>Com o novo Dashboard você poderá criar rapidamente novas campanhas e gerenciá-las a partir de um único local.</h3>
		<h3>Aproveite para conhecer tudo que o maior site de empregos no Japão tem para oferecer e não fique para trás!</h3>
	</div>
	<br />
	<div id='dashboard-presents-body'>
		<div class='left-column' style='width:52%;'>
			<p><%= image_tag('new_dashboard.png')%></p><br />
			<p>Centenas de empresas já trabalham em parceria conosco.</p>
			<p>E você? Vai ficar de fora dessa?</p>
		</div>
		<div class='right-column'>
			<h3>Veja algumas vantagens:</h3>
			<table>
				<tr><td>Controle total sobre seus anúncios.</td><td><%= image_tag('tick24x24.png')%></td></tr>
				<tr><td>Rapidez na publicação.</td><td><%= image_tag('tick24x24.png')%></td></tr>
				<tr><td>Divulgação simultânea nas maiores redes sociais.</td><td><%= image_tag('tick24x24.png')%></td></tr>
				<tr><td>Publicação e divulgação via feeds.</td><td><%= image_tag('tick24x24.png')%></td></tr>
				<tr><td>Apenas empresas sérias e pré-selecionadas.</td><td><%= image_tag('tick24x24.png')%></td></tr>
				<tr><td>Acesso total à centenas de currículums cadastrados.</td><td><%= image_tag('tick24x24.png')%></td></tr>
				<tr><td>Baixíssimo custo.</td><td><%= image_tag('tick24x24.png')%></td></tr>
			</table>
		</div>
	<div class='clear'></div>
	</div>
</div>

<div id="how_to_start_ad">


	<h1>Como anunciar - Passo a passo</h1>
	
	<h2>Passo 1:</h2>
	
		<% if current_user %>
		<p>Você já está cadastrado. <%= image_tag('tick.gif', :size => '25x25')%></p>
		<% else %>
		<p><%= link_to "Cadastre-se aqui gratuitamente", new_user_registration_path %> e confirme seu endereço de e-mail.</p>
		<% end %>
	
	<h2>Passo 2:</h2>
	
	  <% if current_user && current_user.business_requested?%>
	  <p>Você já solicitou a alteração para conta Empresarial. <%= image_tag('tick.gif', :size => '25x25')%></p>
	  <% else %>
	  	<% if current_user && !current_user.business_requested? %>
				<p><%= link_to "Solicite alteração para conta Empresarial.", business_request_path %> <br /><em>(Preencha corretamente com seu nome e telefone para entrarmos em contato.)</em></p>
			<% else %>
				<p>Após efetuar o login, solicite a alteração para conta Business.</p>
			<% end %>
		<% end %>
	
	<h2>Passo 3:</h2>
	
		<% if current_user && current_user.announcer? %>
		<p>Contato por telefone já foi realizado e liberado acesso ao Gerenciador de anúncios. <%= image_tag('tick.gif', :size => '25x25')%></p>
		<% else %>
		<p>Entraremos em contato por telefone e caso esteja tudo de acordo, será habilitado acesso ao Gerenciador de Anúncios.</p>
		<% end %>
	
	<h2>Passo 4:</h2>
	
		<p>Adquira um pack de anúncios para começar suas campanhas.</p>
	
	
	<h3>Pronto!</h3>
	
	<p>Em caso de dúvidas, entre em contato conosco: anuncios@shigotodoko.com</p>



</div>