<% title "Informações Adicionais" %>
<% mobile_header "+ Informações" %>
<% mobile_header_button link_to "Home", home_path, "data-icon" => "home", "class" => "ui-btn-left" %>

<h3>Consulados</h3>
<ul data-role="listview" data-inset="true">
	<li><%= link_to 'Consulado Geral do Brasil em Nagoya', 'http://www.consuladonagoya.org', :target => '_blank' %></li>
	<li><%= link_to 'Consulado Geral do Brasil em Tokyo', 'http://www.consbrasil.org', :target => '_blank' %></li>
	<li><%= link_to 'Consulado Geral do Brasil em Hamamatsu', 'http://www.consbrashamamatsu.jp', :target => '_blank' %></li>
	<li><%= link_to 'Consulado Geral do Japão em São Paulo', 'http://www.sp.br.emb-japan.go.jp/pt', :target => '_blank' %></li>
</ul>

<h3>Embaixadas</h3>
<ul data-role="listview" data-inset="true">
	<li><%= link_to 'Embaixada do Brasil no Japão', 'http://www.brasemb.or.jp/', :target => '_blank' %></li>
	<li><%= link_to 'Embaixada do Japão no Brasil', 'http://www.br.emb-japan.go.jp/', :target => '_blank' %></li>
</ul>

<h3>Assistência e apoio aos brasileiros residentes no exterior</h3>
<ul data-role="listview" data-inset="true">
	<li><%= link_to 'Brasileiros no Mundo', 'http://brasileirosnomundo.mre.gov.br/', :target => '_blank' %></li> 
	<li><%= link_to 'Ministério das Relações Exteriores (Itamaraty)', 'http://www.itamaraty.gov.br/', :target => '_blank' %></li> 
	<li><%= link_to 'Ouvidoria Consular', 'http://www.portalconsular.mre.gov.br/avisos/ouvidoria-consular-saiba-o-que-faz-e-como-contactar', :target => '_blank' %></li> 
	<li><%= link_to 'Conselho de Representantes dos Brasileiros no Exterior (CRBE)', 'http://www.brasileirosnomundo.mre.gov.br/pt-br/conselho_de_representantes_de_brasileiros_no_exterior_(crbe).xml', :target => '_blank' %></li>
</ul>

<h3>Governo Japonês</h3>
<ul data-role="listview" data-inset="true">
	<li><%= link_to 'Ministério das Relações Exteriores - Ministry of Foreign Affairs of Japan (MOFA)', 'http://www.mofa.go.jp/', :target => '_blank' %></li> 
	<li><%= link_to 'Departamento de Imigração - Português', 'http://www.immi-moj.go.jp/portuguese/index.html', :target => '_blank' %></li> 
	<li><%= link_to 'NHK World - Português', 'http://www.nhk.or.jp/nhkworld/portuguese/top/index.html', :target => '_blank' %></li>
</ul>