<% title "Informações Adicionais"%>
<% description "Informações sobre os Consulados Gerais do Brasil no Japão e Consulados Gerais do Japão no Brasil." %>
<% keywords "consulado geral do brasil em nagoya, consulado geral do brasil em tokyo, consulado geral do japao em sao paulo" %>

<div id="info_page">
	

  <div class="social_network" style="margin-top: -30px;">
    <div class='facebook'>
      <p><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="shigotodoko" data-related="klebershimabuku">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      <fb:like show_faces="true" width="450" action="recommend" font="arial"></fb:like><script src="http://connect.facebook.net/pt_BR/all.js#xfbml=1"></script></p>
    </div>
  </div>
	
	<div id="links">
		<h1>Consulados e Embaixadas</h1>
		<div id='consulados_embaixadas'>
			<div id='consulados' class='left-column' style='width: 40%;'>
				<h3>Consulados</h3>
				<ul>
					<li><%= link_to 'Consulado Geral do Brasil em Nagoya', 'http://www.consuladonagoya.org', :target => '_blank' %></li>
					<li><%= link_to 'Consulado Geral do Brasil em Tokyo', 'http://www.consbrasil.org', :target => '_blank' %></li>
					<li><%= link_to 'Consulado Geral do Brasil em Hamamatsu', 'http://www.consbrashamamatsu.jp', :target => '_blank' %></li>
					<li><%= link_to 'Consulado Geral do Japão em São Paulo', 'http://www.sp.br.emb-japan.go.jp/pt', :target => '_blank' %></li>
				</ul>
				<h3>Embaixadas</h3>
				<ul>
					<li><%= link_to 'Embaixada do Brasil no Japão', 'http://www.brasemb.or.jp/', :target => '_blank' %></li>
					<li><%= link_to 'Embaixada do Japão no Brasil', 'http://www.br.emb-japan.go.jp/', :target => '_blank' %></li>
				</ul>
			</div>
			
			<div id='info_page_ad' class='left-column' style="border-left: 1px dashed #ccc; padding-left: 50px;">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-8162200517166382";
/* 336x280, pagina de informações */
google_ad_slot = "6325826458";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>				
			</div>
			<div class='clear'></div>
		</div>

	<div id='utils'>
		<%
		links = 1 + rand(2)
		%>
			<% if links == 1 %>
			<span><%= link_to 'Procurando por códigos postais e endereços do Japão em alfabeto romano? É batata!', 'http://batata.jp/codigo-postal', :target => '_blank' %></span>
			<% else %>
			<span><%= link_to 'Procurando por feriados nacionais do Japão em português? É batata!', 'http://batata.jp/calendario', :target => '_blank' %></span>
			<% end %>
			<span class='powered'>Powered by Batata.jp</span>
	</div>
		
		<h1>Assistência e apoio aos brasileiros residentes no exterior</h1>
		<ul>
			<li><%= link_to 'Brasileiros no Mundo', 'http://brasileirosnomundo.mre.gov.br/', :target => '_blank' %></li> 
			<li><%= link_to 'Ministério das Relações Exteriores (Itamaraty)', 'http://www.itamaraty.gov.br/', :target => '_blank' %></li> 
			<li><%= link_to 'Ouvidoria Consular', 'http://www.portalconsular.mre.gov.br/avisos/ouvidoria-consular-saiba-o-que-faz-e-como-contactar', :target => '_blank' %></li> 
			<li><%= link_to 'Conselho de Representantes dos Brasileiros no Exterior (CRBE)', 'http://www.brasileirosnomundo.mre.gov.br/pt-br/conselho_de_representantes_de_brasileiros_no_exterior_(crbe).xml', :target => '_blank' %></li>
		</ul>
		
		<h1>Governo Japonês</h1>
		<ul>
			<li><%= link_to 'Ministério das Relações Exteriores - Ministry of Foreign Affairs of Japan (MOFA)', 'http://www.mofa.go.jp/', :target => '_blank' %></li> 
			<li><%= link_to 'Departamento de Imigração - Português', 'http://www.immi-moj.go.jp/portuguese/index.html', :target => '_blank' %></li> 
			<li><%= link_to 'NHK World - Português', 'http://www.nhk.or.jp/nhkworld/portuguese/top/index.html', :target => '_blank' %></li>
		</ul>
		<h3>Províncias</h3>
		<ul class='left-column' style="width: 35%;">
			<% i = 0 %>
			<% @prefectures.each do |prefecture| %>
			<li><%= link_to "Governo da Província de #{prefecture.province.name}", prefecture.website, :target => '_blank' %></li>
				<% if i == 9 %>
				</ul><ul class='left-column' style="border-left:1px dashed #ccc; padding-left: 100px;">
				<% end %>
			<% i += 1 %>			
			<% end %> 
		</ul>
		<div class='clear'></div>
		<p><cite>Fonte: <%= link_to 'batata.jp', 'http://batata.jp', :target => '_blank' %><br />
		Código-postal e calendário são serviços oferecidos por <%= link_to 'batata.jp', 'http://batata.jp', :target => '_blank' %></cite></p>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-8162200517166382";
/* 728x90, middle-bottom, informations page */
google_ad_slot = "2292158941";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<div class='left'>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></div>

<div class="clear"></div>
		
		<h1>Documentação</h1>
		<h3>Saiba o que é necessário para..</h3>
		<ul>
			<li><%= link_to 'Visto Elegibilidade', 'http://blog.shigotodoko.com/?p=186', :target => '_blank' %></li>
			<li><%= link_to 'Re-entry', 'http://blog.shigotodoko.com/?p=184', :target => '_blank' %></li>
			<li><%= link_to 'Renovação de Passaporte', 'http://blog.shigotodoko.com/?p=182', :target => '_blank' %></li>
		</ul>
	</div>
		
</div>
