	<div id='header'>

		<div class='left-column'>
			<h1><%= @company.name %></h1>
			<% if @company.homepage? %>
				<h3><%= link_to @company.homepage, @company.homepage, :target => '_blank' %></h3>
			<% end %>
		      <div><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="shigotodoko" data-related="klebershimabuku">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
          <div class="g-plusone" data-size="medium" count="true" callback="fire_multitrack" href="http://www.shigotodoko.com/empresas/<%= url_for(@company) %>"></div>
		      <script src="http://connect.facebook.net/pt_BR/all.js#xfbml=1"></script><fb:like href="" show_faces="true" width="450" action="recommend" font="arial"></fb:like>
          
		      </div>
		</div>
		
		<div class='right-column'>
			<% if can? :update, Company  %>
				<%= link_to 'Editar', edit_company_path(@company), :class => 'button' %>
			<% end %>
			<% if can? :destroy, Company %>
			  <%= link_to 'Excluir', @company, :confirm => 'Are you sure?', :method => :delete, :class => 'button' %> 
			<% end %>		
		</div>

		<div class='clear'></div>

	</div>