<% title "Empresas em #{params[:id].capitalize}" %>

<div id='in_page'>

	<div id='header'>
		<div class='left-column' style="width: 20%; ">
			<h1>Empresas em <div class='box_company_name'><%= params[:id].capitalize %></div></h1>
			<% if can? :new, Company %>	
			<p><%= link_to 'Cadastrar empresa', new_company_path, :class => 'button' %></p>
			<% end %>
		</div>
		<div class='right-column'>
			<div class='ad_728x90'>
				<script type="text/javascript"><!--
				google_ad_client = "ca-pub-8162200517166382";
				/* 728x90, main company by province */
				google_ad_slot = "1545306957";
				google_ad_width = 728;
				google_ad_height = 90;
				//-->
				</script>
				<div class='center'><script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script></div>
			</div>
		</div>
		<div class='clear'></div>
	</div>
			
	<p><b><%= @companies.size %></b> empresas cadastradas nesta província.</p>

	<hr />

	
	<% if @companies.blank? %>
		<h2>Desculpe, não temos registro de nenhuma empresa nesta província.</h2>
	<% end %>
	
	
	<ul>
	<% i = 0 %>
	
	<%
	# define quantity to wrap 
	qty = @companies.size
	if qty < 10
		wrap = 3
	elsif qty > 10 && qty < 30
		wrap = 7
	elsif qty > 30 && qty < 60
		wrap = 15
	elsif qty > 60 && qty < 110
		wrap = 25
	end
	%>
	
	<% @companies.each do |company| %>
		<li><%= link_to company.name, company_path(company) %></li>
		<% if i > wrap %>
			</ul><ul>
			<% i = 0 %>
		<% end %>
		<% i += 1%>
	<% end %>
	
	<% if wrap == 25 && @companies.size < 76 or wrap == 15 && @companies.size < 60 %>
	  
	  </ul>
	  <script type="text/javascript"><!--
    google_ad_client = "ca-pub-8162200517166382";
    /* relacao Empresas Arranha Ceu e Full List Jobs 160x600 */
    google_ad_slot = "6837150524";
    google_ad_width = 160;
    google_ad_height = 600;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  <% elsif wrap == 3 && @companies.size < 10 %>
  </ul>
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-8162200517166382";
  /* Empresas */
  google_ad_slot = "0997790053";
  google_ad_width = 300;
  google_ad_height = 250;
  //-->
  </script>
  <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
    
	<% end %>
	
	
	</ul>
	
	<div class='clear'></div>
	
	<%= paginate @companies %>
	
	<p>Gostaria de ver a sua empresa listada aqui? Entre em <%= link_to 'contato', contact_path %> conosco.</p>
	
</div>