<%= title @company.name %>
<%= description "Informações para #{@company.name} - Endereço, telefone, e-mail, website, etc."%>
<%= keywords "#{@company.name}, endereço #{@company.name}, telefone #{@company.name}, site #{@company.name}, twitter #{@company.name}, facebook #{@company.name}"%> 

<div id='show_company'>

	<%= link_to '← Voltar para empreiteiras', companies_path %>
	<hr />
	
			<div class='ad_728x90'>
				<script type="text/javascript"><!--
				google_ad_client = "ca-pub-8162200517166382";
				/* 728x90, individual company page */
				google_ad_slot = "8014838898";
				google_ad_width = 728;
				google_ad_height = 90;
				//-->
				</script>
				<div class='center'><script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script></div>
			</div>
	<hr />

	
	
	<section id='contents' class='left-column'>
		<%= render 'show_header' , :collection => @company %>	
		<%= render 'show_details', :collection => @company %>
	</section>
	
	
	<div class='clear'></div>


	<p class="last_update_warning">Talvez as informações acima não estejam atualizadas. <br />Se você souber de algum dado atualizado, por favor entre em contato conosco que teremos satisfação em atualizá-los para você. - <%= link_to 'Contato', contact_path %></p>
	<p>Os comentários foram temporariamente removidos.</p>
	<hr />

	
	<p><%= link_to '← Voltar para empreiteiras', companies_path %></p>
</div>
