<h2><%= t(:sign_in)%></h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.input :email , :input_html => { :size => 25 } %></p>

  <p><%= f.input :password , :input_html => { :size => 20 } %></p>


  <% if devise_mapping.rememberable? -%>
    <label>Lembrar minha senha</label>
    <p><%= f.check_box :remember_me %></p>
  <% end -%>

  <p><%= f.submit "Entrar" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
