<h1>Listing prefectures</h1>

<table>
  <tr>
    <th>Province</th>
    <th>Website</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prefectures.each do |prefecture| %>
  <tr>
    <td><%= prefecture.province_id %></td>
    <td><%= prefecture.website %></td>
    <td><%= link_to 'Show', prefecture %></td>
    <td><%= link_to 'Edit', edit_prefecture_path(prefecture) %></td>
    <td><%= link_to 'Destroy', prefecture, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prefecture', new_prefecture_path %>
