<div id="navigator">
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Empregos', jobs_path %></li>
      <li><%= link_to 'Empreiteiras', companies_path %></li>
      <li><%= link_to 'Agências Hello Work', agencies_path %></li>
      <li><%= link_to '+ Info', pages_info_path %></li>
</li>
<li>

<div id="google_translate_element"></div><script>
function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    pageLanguage: 'pt-BR',
    layout: google.translate.TranslateElement.InlineLayout.SIMPLE
  }, 'google_translate_element');
}
</script><script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


</li>
    </ul>
  </nav>
</div>
<div class="navbar_fullbar"></div>
<% @adsense = true%>
<% if @adsense %>
   <script type='text/javascript'><!--
    google_ad_client = 'pub-8162200517166382';
    /* barra de links, abaixo buscador topo */
    google_ad_slot = '3757776481';
    google_ad_width = 468;
    google_ad_height = 15;
    //-->
    </script>

    <div class='ad_full_main_text_links_468_15'>
      <script type='text/javascript' src='http://pagead2.googlesyndication.com/pagead/show_ads.js'></script>
    </div>
<% end %>
