<div id="navigator">
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Empregos', jobs_path %></li>
      <li><%= link_to 'Empreiteiras', companies_path %></li>
      <li><%= link_to 'Agências Hello Work', agencies_path %></li>
      <li><%= link_to '+ Info', pages_info_path %></li>
</li>
<li>

<div id="google_translate_element"></div><script>
function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    pageLanguage: 'pt-BR',
    layout: google.translate.TranslateElement.InlineLayout.SIMPLE
  }, 'google_translate_element');
}
</script><script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


</li>
    </ul>
  </nav>
</div>
<div class="navbar_fullbar"></div>
<% @adsense = true%>
<%= render 'layouts/google_search_bar', :locals => { :adsense => @adsense }%>
