<div id="navigator">
  <nav>
    <ul>
      <li><%= link_to_unless_current 'Home', root_path %></li>
      <li><%= link_to_unless_current 'Empregos', jobs_path %></li>
      <li><%= link_to_unless_current 'Empreiteiras', companies_path %></li>
      <li><%= link_to_unless_current 'Agências Hello Work', agencies_path %></li>
      <li><%= link_to_unless_current '+ Info', pages_info_path %></li>
    </ul>
  </nav>
</div>
<div class="navbar_fullbar"></div>
<% @adsense = true%>
<%= render 'layouts/google_search_bar', :locals => { :adsense => @adsense }%>
