<div id="navigator">
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Empregos', jobs_path %></li>
      <li><%= link_to 'Empreiteiras', companies_path %></li>
      <li><%= link_to 'Agências Hello Work', agencies_path %></li>
      <li><%= link_to '+ Info', pages_info_path %></li>
    </ul>
  </nav>
</div>
<div class="navbar_fullbar"></div>
<% unless params[:controller] == 'pages' && params[:action] == 'home' %>
<!-- Google Search Bar -->
<div id="google_search_bar">
	<form action="http://www.shigotodoko.com/busca" id="cse-search-box"> 
    <input type="hidden" name="cx" value="partner-pub-8162200517166382:d997ka6gtbw" /> 
    <input type="hidden" name="cof" value="FORID:10" /> 
    <input type="hidden" name="ie" value="UTF-8" /> 
    <input type="text" id="q-for-google-text" value="O quê você está procurando?" onclick="this.value=''" onfocus="if(this.value=='O quê você está procurando?')this.value='';" onblur="if(this.value=='')this.value='O quê você está procurando?';" name="q" size="40"/> 
    <input type="submit" name="sa" value="Pesquisar" class="button"/> 
	</form> 
</div>
<% end %>
