<div id="navigator">
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Empregos', jobs_path %></li>
      <li><%= link_to 'Empreiteiras', companies_path %></li>
      <li><%= link_to 'Agências Hello Work', agencies_path %></li>
      <li><%= link_to '+ Info', pages_info_path %></li>
<li>
		<div id="twitter_follow_button">
		<g:plusone size="medium"></g:plusone>
			<a href="http://twitter.com/shigotodoko" class="twitter-follow-button">Follow @shigotodoko</a>
			<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
		</div>
</li>
    </ul>
  </nav>
</div>
<div class="navbar_fullbar"></div>
<% @adsense = true%>
<%= render 'layouts/google_search_bar', :locals => { :adsense => @adsense }%>
