<!DOCTYPE html>
<html lang="pt-br">
  <head>
	  <title><%= yield(:title) || "A sua referência de empregos no Japão" %>&nbsp;| ShigotoDOKO</title>
    <meta charset="utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
    <meta name="google-site-verification" content="culxN0GN5f_GZnPGAr0AJ1QyJxfKXNRyty9-9fQFtGA" />
	  <script type="text/javascript">		
  	  var _gaq = _gaq || [];
  	  _gaq.push(['_setAccount', 'UA-4430385-2']);
  	  _gaq.push(['_trackPageview']);
  	  _gaq.push(['_trackPageLoadTime']);
  	  (function() {
  	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  	  })();		
  	</script>
    <%= csrf_meta_tag %>
  </head>
  <body>
  <div data-role="page">
  
      <div data-role="header" data-theme="b">
          <h1><%= yield(:mobile_header) %></h1>
          <%= yield(:mobile_header_button) %>    
          
          <div data-role="navbar" data-theme="b">
              <ul>
                  <li><%= link_to 'Empregos', jobs_path %></li>
                  <li><%= link_to 'Empresas', companies_path %></li>
                  <li><%= link_to 'Hello Work', agencies_path %></li>
                  <li><%= link_to '+ Info', pages_info_path %></li>
               </ul>
          </div>      
                
          <script type="text/javascript"><!--
            // XHTML should not attempt to parse these strings, declare them CDATA.
            /* <![CDATA[ */
            window.googleAfmcRequest = {
              client: 'ca-mb-pub-8162200517166382',
              format: '320x50_mb',
              output: 'HTML',
              slotname: '6408252764',
            };
            /* ]]> */
          //--></script>
          <script type="text/javascript"    src="http://pagead2.googlesyndication.com/pagead/show_afmc_ads.js"></script>


      </div>
      
      <div data-role="content">
          <%= yield %>
      </div>
      
      
      <div data-role="footer" data-theme="b">
          <h4>Dúvidas ou Sugestões?</h4>
          <p align="center">contato@shigotodoko.com</p>
          <p align="center"><%= link_to "Modo PC", :mobile => 0 %></p>
      </div>
            
  </div>
  </body>
</html>