<!DOCTYPE html>
<html lang="pt-br">
  <head>
	  <title><%= yield(:title) || "A sua referência de empregos no Japão" %>&nbsp;| ShigotoDOKO</title>
	  <meta name="description" content="<%= yield(:description) || "Vagas de Empregos no Japao, Empreiteiras, Currículums, Artigos e mais.. " %>"/>
	  <meta name="keywords" content="<%= yield(:keywords) || "empregos no japao, empreiteiras, curriculum, desemprego" %>"/>
    <%= csrf_meta_tag %>
    <meta charset="utf-8" />
    <%= render 'layouts/stylesheets' %>
    <%= render 'layouts/javascripts' %>
    <%= auto_discovery_link_tag(:atom, "/feed.atom") %>
		<script type='text/javascript'>
		$(document).ready(function() {
		   $('#flash').delay(500).fadeIn('slow', function() {
		      $(this).delay(4000).fadeOut();
		   });
		});
		</script>  
	</head>


  <body>

  
			<% unless flash[:notice].blank? %>
			<div id="flash">
			<%= flash[:notice]%>
			</div>   
			<% end %>

			<% unless flash[:error].blank? %>
			<div id="flash">
			<%= flash[:error]%>
			</div>
			<% end %>
    
    <div id="container" class="layout-shadow">
      <% # logo & sign-up & sign-in links %>
      <%= render 'layouts/header' %>
      
      <% # notifications for admin only %>
      <%= render 'layouts/reminder' %>

      
      <% # site navbar %>
      <%= render 'layouts/navigation' %>
      
      <% # user shortcuts %>
      <%= render 'layouts/shortcuts' %>
      
      <%= yield(:flash_messages) %>


      <section>
        <%= yield %>
      </section>
      <% @adsense = false %>
      <%= render 'layouts/google_search_bar', :locals => { :adsense => @adsense } %>
      <%= render 'layouts/footer' %>
      
    </div>
		<!-- google analytics code -->
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-4430385-2");
		pageTracker._trackPageview();
		</script>    
  </body>
</html>

<% if Rails.env.development? %>
<% content_tag(:div, debug(params), :class => 'debug')  %>
<% end %>

