<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= render 'layouts/javascripts' %>
  </head>
  <script language="javascript" src="http://www.websiteribbon.com/ribbon/138496/"></script><noscript><div class="websiteribbon"><a title="diagonal advertising banner design" href="http://www.websiteribbon.com/" target="_blank"><img class="websiteribbon" src="http://www.websiteribbon.com/banner.gif" alt="Diagonal Advertising Banner Design" ></a></div></noscript>
  
  <body>
  
    <%= render 'layouts/header' %>
    <div class="container">
      <%= render 'layouts/navigation' %>
      <section class="round-bottom">
        <% flash.each do |name, msg| %>
            <%= content_tag :p, msg, :class => "#{name}"  %>
        <% end %>
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
