<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= render 'layouts/javascripts' %>
    <%= auto_discovery_link_tag(:atom, 'http://feeds2.feedburner.com/Shigotodoko', :title => "ShigotoDoko feed") %>
  </head>

  <body>
  
    <%= render 'layouts/header' %>
    <%= render 'layouts/reminder' %>
    
    <div class="container">
      <%= render 'layouts/navigation' %>
      <section class="round-bottom layout-shadow">
        <% flash.each do |name, msg| %>
            <%= content_tag :p, msg, :class => "#{name}"  %>
        <% end %>
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
