<!DOCTYPE html>
<html lang="pt-br">
  <head>
	  <title><%= yield(:title) || "A sua referência de empregos no Japão" %>&nbsp;| ShigotoDOKO</title>
	  <meta name="description" content="<%= yield(:description) || "Vagas de Empregos no Japao, Empreiteiras, Currículums, Artigos e mais.. " %>"/>
	  <meta name="keywords" content="<%= yield(:keywords) || "empregos no japao, trabalho no japão, enpregos, emprego no japão, emprego japão, japão empregos, empregos no japão, japão trabalho, trabalho no japão, empregos no jp, trabalhar japão, trabalhar no japão, classificados no japão, serviço no japão, vagas no japão, serviços no japão, trabalho no japão para brasileiros, trabalhe no japão, empregos no japão #{Time.now.strftime('%Y')}, anuncios no japao, empregos, empreiteiras no japão, empreiteira no japao" %>"/>
    <meta property="fb:admins" content="10150360692469364"/>
	  <meta name="google-site-verification" content="culxN0GN5f_GZnPGAr0AJ1QyJxfKXNRyty9-9fQFtGA" />
      <%= csrf_meta_tag %>
      <meta charset="utf-8" />
      <%= render 'layouts/stylesheets' %>
      <%= render 'layouts/javascripts' %>
      <%= auto_discovery_link_tag(:atom, "/feed.atom") %>
	<script type="text/javascript">		
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-4430385-2']);
	  _gaq.push(['_trackPageview']);
	  _gaq.push(['_trackPageLoadTime']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();		
	</script>
	</head>
	<body>
	
	  <!-- facebook comments plugin -->
	  
	  <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=143661522361941";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
	  <!-- end of facebook comments plugin code -->
	  
		<% unless flash.blank? %>
		<div id="flash"><%= flash_message %></div>
		<% end %>
	    <div id="container" class="layout-shadow">
	    	<% # logo & sign-up & sign-in links %>
	      	<%= render 'layouts/header' %>
		    <% # site navbar %>
	    	<%= render 'layouts/navigation' %>
		    <%= yield(:flash_messages) %>
  			<section>
		    	<%= yield %>
		    </section>
      		<% @adsense = true %>
      		<%= render 'layouts/google_search_bar', :locals => { :adsense => @adsense } %>
      		<%= render 'layouts/footer' %>
    	</div>
	</body>
</html>
<% if Rails.env.development? %>
<% content_tag(:div, debug(params), :class => 'debug')  %>
<% end %>