<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <meta charset="utf-8" />
    <%= render 'layouts/stylesheets' %>
    <%= render 'layouts/javascripts' %>
    <%= auto_discovery_link_tag(:atom, 'http://feeds2.feedburner.com/Shigotodoko', :title => "ShigotoDoko feed") %>
  </head>

  <body>

      <%= content_for(:flash_messages) do %>
        <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :class => "#{name}"  %><br />
        <% end %>
      <% end %>
  
    
    <div id="container" class="layout-shadow">
      <% # logo & sign-up & sign-in links %>
      <%= render 'layouts/header' %>
      
      <% # notifications for admin only %>
      <%= render 'layouts/reminder' %>

      
      <% # site navbar %>
      <%= render 'layouts/navigation' %>
      
      <% # user shortcuts %>
      <%= render 'layouts/shortcuts' %>
      
      <%= yield(:flash_messages) %>


      <section>
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
      
    </div>
  </body>
</html>

      <%= content_tag(:div, debug(params), :class => 'debug') if Rails.env.development? %>

