<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= render 'layouts/javascripts' %>
  </head>
  <body>
  
    <%= render 'layouts/header' %>
    <div class="container">
      <%= render 'layouts/navigation' %>
      <section class="round-bottom">
        <% flash.each do |name, msg| %>
            <%= content_tag :p, msg, :class => "#{name}"  %>
        <% end %>
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
